*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto, sans-serif;
    margin: 0;
}
h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.25em;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(21, 59, 182);
}
button:hover {
    background-color: rgb(7, 12, 77);
}

.color-acento {
    color:  #0c052b;
}

.container {
    width: 90%;
    max-width: 100vh;
    margin: 0 auto;
}

header {
    background-color: #f5f5f5;
    padding: 15px 0;
}
header .logo {
    margin: 0;
    padding: 25px 30px;
    font-family: 'yugothic ui', sans-serif;

    font-weight: bold;
    color: #0c052b;
    font-size: 1.7em;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover {
    color: rgb(21, 59, 182);
}
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#somosLOCode .container {
    text-align: center;
    padding: 200px 12px;
}

#somosLOCode h2 {
    font-size: 9vw;
}

#nuestros-productos {
    text-align: center;
    background-color: #303030;
    color: white;
}
#nuestros-productos .container {
    padding: 150px 12px;
}
#nuestros-productos h2 {
    margin-top: 0;
}
#nuestros-productos p {
    display: none;
}

#nuestros-productos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos .carta {
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}
.carta:first-child {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C1.jpg');
    
}
.carta:nth-child(2) {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C2.jpg');

}
.carta:nth-child(3) {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C3.jpg');

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}
#caracteristicas li {
    margin: 12px 0;
    font-weight: bold;
}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #303030;
    color: white;
    height: 80vh;

}
#final h2 {
    margin-top: 0;
    font-size: 9vw;
}
#final button{
        font-size: 4vw;
    }
footer {
    background-color: #f5f5f5;
}
footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 750px) {
    header {
        position: fixed;
        width: 100%;
        padding: 5px 0;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 4.5em;
    }

    #somosLOCode .container {
        display: flex;
        justify-content: space-evenly;
    }
    #somosLOCode h2 {
    font-size: 3em;
    margin-top: 0;
    }
    #somosLOCode .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #somosLOCode .imagecontainer {
        background-image: url('images/1.jpg');
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestros-productos .productos {
        display: flex;
        justify-content: center;
    }
    #nuestros-productos p {
        display: block;
        margin-bottom: 30px;
    }
    #nuestros-productos h2 {
        font-size: 4em;
    }

    #nuestros-productos h3 {
        margin-top: 0;
    }

    #nuestros-productos .carta {
        padding: 50px;
        background-size: 100% 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(20, 20, 20, 0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    .carta:first-child {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C1-crop.jpg');
    
    }
    .carta:nth-child(2) {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C2-crop.jpg');

    }
    .carta:nth-child(3) {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('images/C3-crop.jpg');

    }

    #caracteristicas {
        background-image: url('images/3.jpg');
        background-repeat: no-repeat;
        bacKground-size: 500px 400px;
        background-position: calc(100vw - 700px) 120px; ;
    }

    #caracteristicas .container {
        text-align: initial;
    }
    #caracteristicas ul {
        margin-left: 100px;
    }
    #final h2 {
        font-size: 5em;
    }
    #final button{
        font-size: 2em;
    }
    footer .container {
        justify-content: flex-end;
    }
}
@media (min-width: 1100px) {
    #caracteristicas {
        background-position: calc(100vw - 800px) 120px; ;
    }
}